<launch>
  <!-- Current standalone wheel/IMU odometry from morai_control.
       Keep this launch parameter-equivalent to the canonical source launch. -->
  <arg name="vehicle_state_topic" default="/Ego_topic" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="output_topic" default="/odometry/pure" />
  <arg name="vehicle_config"
       default="$(find morai_eskf_runtime)/config/ioniq5_vehicle.yaml" />
  <arg name="publish_tf" default="false" />
  <arg name="require_sim_time" default="false" />
  <arg name="imu_weight" default="0.95" />
  <arg name="imu_weight_min" default="0.85" />
  <arg name="imu_weight_max" default="0.98" />
  <arg name="motion_rate_scale" default="0.49848" />
  <arg name="adaptive_time_scale" default="true" />
  <arg name="model_wheelbase_m" default="3.5006" />
  <arg name="model_input_delay_source_s" default="0.19" />
  <arg name="understeer_coefficient_s2pm" default="0.00278" />
  <arg name="orientation_primary" default="true" />

  <node pkg="morai_eskf_runtime" type="pure_odometry_node.py"
        name="pure_odometry" output="screen" required="true">
    <rosparam command="load" file="$(arg vehicle_config)" />
    <param name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="require_sim_time" value="$(arg require_sim_time)" />
    <param name="wheel_angle_unit" value="deg" />
    <param name="motion_rate_scale" value="$(arg motion_rate_scale)" />
    <param name="adaptive_time_scale" value="$(arg adaptive_time_scale)" />
    <param name="time_scale_window_s" value="4.0" />
    <param name="time_scale_min_rotation_rad" value="0.03" />
    <param name="time_scale_alpha" value="0.02" />
    <param name="accel_time_scale_enabled" value="true" />
    <param name="accel_time_scale_weight" value="0.8" />
    <param name="accel_time_scale_fusion_mode" value="straight_only" />
    <param name="accel_time_scale_window_s" value="0.5" />
    <param name="accel_time_scale_min_accel_mps2" value="1.0" />
    <param name="accel_time_scale_min_samples" value="10" />
    <param name="accel_time_scale_min_energy" value="0.002" />
    <param name="accel_time_scale_full_weight_energy" value="0.08" />
    <param name="accel_time_scale_noise_std_mps2" value="0.35" />
    <param name="accel_bias_tau_s" value="5.0" />
    <param name="model_wheelbase_m" value="$(arg model_wheelbase_m)" />
    <param name="model_input_delay_source_s"
           value="$(arg model_input_delay_source_s)" />
    <param name="understeer_coefficient_s2pm"
           value="$(arg understeer_coefficient_s2pm)" />
    <param name="orientation_primary" value="$(arg orientation_primary)" />
    <param name="orientation_timeout_s" value="0.08" />
    <param name="orientation_gyro_gate_radps" value="0.25" />
    <param name="imu_weight" value="$(arg imu_weight)" />
    <param name="imu_weight_min" value="$(arg imu_weight_min)" />
    <param name="imu_weight_max" value="$(arg imu_weight_max)" />
    <param name="speed_filter_tau_s" value="0.04" />
    <param name="yaw_rate_filter_tau_s" value="0.02" />
    <param name="imu_timeout_s" value="0.08" />
    <param name="stationary_gyro_radps" value="0.03" />
    <param name="stationary_bias_hold_s" value="0.8" />
  </node>
</launch>
