<launch>
  <arg name="use_sim_time" default="false" />
  <arg name="publish_tf" default="false" />
  <arg name="publish_sensor_tf" default="false" />
  <arg name="start_pure_odometry" default="true" />
  <arg name="start_legacy_bridge" default="true" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="gps_topic" default="/gps" />
  <arg name="vehicle_state_topic" default="/Ego_topic" />
  <arg name="pure_odometry_topic" default="/odometry/pure" />
  <arg name="sensor_config_file"
       default="$(find morai_eskf_runtime)/config/morai_sensor.json" />
  <arg name="vehicle_config"
       default="$(find morai_eskf_runtime)/config/ioniq5_vehicle.yaml" />
  <arg name="eskf_config"
       default="$(find eskf)/config/eskf_robust.yaml" />

  <param name="/use_sim_time" value="$(arg use_sim_time)" />

  <include if="$(arg start_pure_odometry)"
           file="$(find morai_eskf_runtime)/launch/odometry.launch">
    <arg name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
    <arg name="imu_topic" value="$(arg imu_topic)" />
    <arg name="output_topic" value="$(arg pure_odometry_topic)" />
    <arg name="vehicle_config" value="$(arg vehicle_config)" />
  </include>

  <node pkg="eskf" type="eskf_node.py" name="eskf_node" output="screen">
    <rosparam command="load" file="$(arg vehicle_config)" />
    <rosparam command="load" file="$(arg eskf_config)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="gps_topic" value="$(arg gps_topic)" />
    <param name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
    <param name="odometry_topic" value="$(arg pure_odometry_topic)" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="sensor_config_file" value="$(arg sensor_config_file)" />
  </node>

  <node if="$(arg start_legacy_bridge)"
        pkg="morai_eskf_runtime" type="ego_status_from_eskf.py"
        name="ego_status_from_eskf" output="screen">
    <param name="imu_topic" value="$(arg imu_topic)" />
  </node>

  <node if="$(arg publish_sensor_tf)"
        pkg="morai_eskf_runtime" type="sensor_tf_from_config.py"
        name="sensor_tf_from_config" output="screen">
    <param name="sensor_config_file" value="$(arg sensor_config_file)" />
  </node>
</launch>

