<launch>
  <arg name="vehicle_state_topic" default="/Ego_topic" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="output_topic" default="/odometry/pure" />
  <arg name="vehicle_config"
       default="$(find morai_eskf_runtime)/config/ioniq5_vehicle.yaml" />
  <arg name="publish_tf" default="false" />
  <arg name="require_sim_time" default="false" />
  <arg name="motion_rate_scale" default="0.49848" />
  <arg name="adaptive_time_scale" default="true" />

  <node pkg="morai_eskf_runtime" type="pure_odometry_node.py"
        name="pure_odometry" output="screen" required="true">
    <rosparam command="load" file="$(arg vehicle_config)" />
    <param name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="publish_tf" value="$(arg publish_tf)" />
    <param name="require_sim_time" value="$(arg require_sim_time)" />
    <param name="wheel_angle_unit" value="deg" />
    <param name="motion_rate_scale" value="$(arg motion_rate_scale)" />
    <param name="adaptive_time_scale" value="$(arg adaptive_time_scale)" />
    <param name="time_scale_window_s" value="10.0" />
    <param name="time_scale_min_rotation_rad" value="0.05" />
    <param name="time_scale_alpha" value="0.02" />
    <param name="model_wheelbase_m" value="3.5006" />
    <param name="model_input_delay_source_s" value="0.19" />
    <param name="understeer_coefficient_s2pm" value="0.00278" />
    <param name="orientation_primary" value="true" />
    <param name="orientation_timeout_s" value="0.08" />
    <param name="orientation_gyro_gate_radps" value="0.25" />
    <param name="imu_weight" value="0.95" />
    <param name="imu_weight_min" value="0.85" />
    <param name="imu_weight_max" value="0.98" />
    <param name="speed_filter_tau_s" value="0.04" />
    <param name="yaw_rate_filter_tau_s" value="0.02" />
    <param name="imu_timeout_s" value="0.08" />
    <param name="stationary_gyro_radps" value="0.03" />
    <param name="stationary_bias_hold_s" value="0.8" />
  </node>
</launch>

