<launch>
  <!-- Backward-compatible alias.  odometry.launch is the canonical file. -->
  <arg name="vehicle_state_topic" default="/Ego_topic" />
  <arg name="imu_topic" default="/imu/data" />
  <arg name="output_topic" default="/odometry/pure" />
  <arg name="vehicle_config"
       default="$(find morai_control)/config/ioniq5_vehicle.yaml" />
  <arg name="publish_tf" default="false" />
  <arg name="require_sim_time" default="false" />
  <arg name="start_analysis" default="false" />
  <arg name="analysis_gui" default="true" />
  <arg name="record_debug_bag" default="false" />
  <arg name="imu_weight" default="0.95" />
  <arg name="imu_weight_min" default="0.85" />
  <arg name="imu_weight_max" default="0.98" />
  <arg name="motion_rate_scale" default="0.49848" />
  <arg name="adaptive_time_scale" default="true" />
  <arg name="model_wheelbase_m" default="3.5006" />
  <arg name="model_input_delay_source_s" default="0.19" />
  <arg name="understeer_coefficient_s2pm" default="0.00278" />
  <arg name="orientation_primary" default="true" />
  <arg name="analysis_output_csv"
       default="$(find morai_control)/logs/pure_odometry_accuracy.csv" />
  <arg name="bag_output_prefix"
       default="$(find morai_control)/logs/bags/pure_odometry_debug" />

  <include file="$(find morai_control)/launch/odometry.launch">
    <arg name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
    <arg name="imu_topic" value="$(arg imu_topic)" />
    <arg name="output_topic" value="$(arg output_topic)" />
    <arg name="vehicle_config" value="$(arg vehicle_config)" />
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="require_sim_time" value="$(arg require_sim_time)" />
    <arg name="start_analysis" value="$(arg start_analysis)" />
    <arg name="analysis_gui" value="$(arg analysis_gui)" />
    <arg name="record_debug_bag" value="$(arg record_debug_bag)" />
    <arg name="imu_weight" value="$(arg imu_weight)" />
    <arg name="imu_weight_min" value="$(arg imu_weight_min)" />
    <arg name="imu_weight_max" value="$(arg imu_weight_max)" />
    <arg name="motion_rate_scale" value="$(arg motion_rate_scale)" />
    <arg name="adaptive_time_scale" value="$(arg adaptive_time_scale)" />
    <arg name="model_wheelbase_m" value="$(arg model_wheelbase_m)" />
    <arg name="model_input_delay_source_s"
         value="$(arg model_input_delay_source_s)" />
    <arg name="understeer_coefficient_s2pm"
         value="$(arg understeer_coefficient_s2pm)" />
    <arg name="orientation_primary" value="$(arg orientation_primary)" />
    <arg name="analysis_output_csv" value="$(arg analysis_output_csv)" />
    <arg name="bag_output_prefix" value="$(arg bag_output_prefix)" />
  </include>
</launch>
