<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="params_file" default="$(find lio_sam)/config/params.yaml"/>
    <arg name="start_robot_state_publisher" default="true"/>
    <arg name="start_navsat" default="true"/>
    <arg name="start_rviz" default="true"/>
    
    <!-- Parameters -->
    <rosparam file="$(arg params_file)" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include if="$(arg start_robot_state_publisher)"
             file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <include if="$(arg start_navsat)"
             file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include if="$(arg start_rviz)"
             file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
